{% extends 'base.html' %}

{% block content %}

  <main>
    <div class="container">
        <div class="table-responsive">
            <h2>Order Summary</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                    {% for order_item in order.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{order_item.item.name}}</td>
                        {% if order_item.item.discount_price %}
                            <td>${{order_item.item.discount_price}}</td>
                        {% else %}
                            <td>${{order_item.item.price}}</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'core:remove-single-item' order_item.item.slug %}"><i class="fas fa-minus-circle red-text mr-2"></i></a>
                                {{order_item.quantity}}
                            <a href="{% url 'core:add-in-cart' order_item.item.slug %}"><i class="fas fa-plus-circle cyan-text ml-2"></i></a>
                        </td>
                        <td>
                        {% if order_item.item.discount_price %}
                            ${{order_item.get_total_discount_price}}
                            <span class="badge badge purple-gradient ml-3">Saving ${{order_item.get_amount_saved}}</span>
                        {% else %}
                            ${{order_item.get_total_price}}
                        {% endif %}
                        <a href="{% url 'core:remove-items' order_item.item.slug %}"><i class="fas fa-trash-alt float-right"></i></a>
                        </td>
                        {% comment %} <td><a href="{% url 'core:remove-from-cart' order_item.item.slug %}"><i class="fas fa-trash-alt"></i></a></td> {% endcomment %}
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Your cart is empty</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a href="/" class="btn btn-outline-primary btn-sm float-right">Continue shopping</a>
                        </td>
                    </tr>
                    {% endfor %}

                    {% if order.coupon %}
                        <tr>
                            <td colspan='4'><b class="text-success float-right">Coupon</b></td>
                            <td><b class="text-success">-${{order.coupon.amount}}</b></td>
                        </tr>
                    {% endif %}
                    {% if order.get_total %}
                        <tr>
                            {% comment %} <td colspan="3"></td> {% endcomment %}
                            <td colspan="4"><b class="float-right">Subtotal ({{order.get_total_quantity}} Items)</b></td>
                            <td><b>${{order.get_total}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td>
                                <a href="/" class="btn btn-outline-primary btn-sm float-right">Continue shopping</a>
                            </td>
                            <td>
                                <a href="checkout" class="btn peach-gradient btn-sm">Proceed to checkout</a>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>
  </main>
  <!--Main layout-->


{% endblock content %}


